body{
    padding:0;
    margin: 70px;
    background-image: url('../jazz.jpg');
    background-repeat: repeat-y;
    background-size: 1920px 1080px;
     
   
}
    

  
.piano {
    color: #EB0107;
    list-style-type: circle;
    text-align: center;
    text-shadow: -1px 1px 2px  rgb(145, 0, 5);
    font-size: 1.5rem;
}
      
  .piano,
  .black-key {
    vertical-align: top;
  }


  .key{
    display: inline-block;
    padding: 230px 30px 30px;
    border: 3px inset #c9c9c0;
    background-color: #fffff5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    box-shadow: inset -5px -9px 0px #c9c9c0F2;
    
    
  }
  
  .key:active{
      animation: shadow 10s;
    
  }
  

  .black-key {
    display: flex;
    background-color: #000000;
    width: 42px;
    height: 180.5px;
    position: fixed;
    top: 70px;
    transform: translateX(20px);
    box-shadow: -2px 6px 14px 0 #2c2c2ca8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex: 1;
  }

  .words{
    font-family: 'Hammersmith One', sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    flex-direction: column;
    
  }


  @keyframes shadow{
      from{ 
          box-shadow: -3px 6px #47474657;
          background-image: linear-gradient(to bottom,#fffff5,#c9c9c9FF);;
          cursor: none;
      }
      to{
          cursor: none;
          box-shadow: 0px 0px #c9c9c0;

      }
  }

  /* @keyframes light{
      from{
        padding: auto;
        margin: auto;
        width: 0rem;
        height: 0rem;
        background-color: red;
        transform: scale(0);
        position: center;
        border-radius: 50px; 
      }
      to{
        padding: auto;
        margin: auto;
        width: 1.5rem;
        height: 1.5rem;
        background-color: red;
        transform: scale(20px);
        position: center;
        border-radius: 50px; 
            }
  } */